*{
    margin: 0;
    padding: 0;
    font-family: "SokchoBadaCalligraphy";
}

.container{
    background-image: url("./assets/image/LandingBackground.png");
    width:100vw;
    height:100vh;
    background-size: cover;
  }

@font-face {
    font-family: 'SokchoBadaCalligraphy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaCalligraphy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}